<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <servers>
        <server>
            <id>maven-snapshots</id>
            <username>operator</username>
            <password>operator</password>
        </server>
        <server>
            <id>maven-releases</id>
            <username>operator</username>
            <password>operator</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>poc</id>
            <properties>
                <repo.snapshots.url>http://${env.NEXUS_HOST}/repository/maven-snapshots/</repo.snapshots.url>
                <repo.releases.url>http://${env.NEXUS_HOST}/repository/maven-releases/</repo.releases.url>
            </properties>
            <!-- OVERRIDE Central Repository -->
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://${env.NEXUS_HOST}/repository/maven-public/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://${env.NEXUS_HOST}/repository/maven-public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

</settings>